rsconnect
cache
.Renviron
.Rhistory
_archive

# large files
idot_crashes/IDOT_Crashes_Chicago_2009_2017.csv
crash_summaries/Crashes_2009_2019_IDOT_and_Chicago.csv
crash_summaries/Crashes_2009_present_IDOT_and_Chicago.csv